.gg{
	margin: auto;
	margin-top: 200px;
}

.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    animation-name: backdiv;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 2;
  }
.heart {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 3;
  }

.descr {
	position: relative;
	color: pink;
	margin: auto;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	z-index: 3;
	animation-name: descr;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}
.heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }

.heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

@keyframes descr {
	50% {
		font-size: 50px;
		color: rgb(151, 97, 97);
	}
  }

@keyframes backdiv {
	0% {
		background: #fff;
	  }
    50% {
      background: #ffe6f2;
    }
	100% {
		background: #fff;
	  }
  }

@keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }